body{
    padding: 10%;
    background-color: yellow;
}

#box{
    border: solid yellowgreen 5px;
    background-color: orange;
    height: 255px;
    justify-content: center;
}

p{
font-size: 1.3rem;

}

input {
    border: 4px silver solid;
    display: inline-block;
    padding: 12px 15px;
    
    color: black;
    background-color: chocolate;
    font-weight: bold;
}

input:hover {
    background-color: orange;
    color: yellow;
    font-size: 17px;
   border: yellow;
    border-radius:  3%; 
}